* {
    margin: 0px;
}

h1 {
    text-align: center;
    color: rgb(43, 46, 226);
    
}

body{
    background-image: url(https://s3.glbimg.com/v1/AUTH_35862ca5c6ab48b992baf1f1b4f7062e/m-extra-globo-com/incoming/23294435-261-a9d/w367h550-PROP/bombado.png);
}

#titulo {
    color: brown;

}

.rodape {
    color: aquamarine;
    text-align: center;
    border: 1px solid;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: black;

}

.entrada-usuario {
    border: 1px solid;
    text-align: center;
    text-decoration: double;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    padding: 5px;

}