* {
    margin: 0px;
}

h1 {
    text-align: center;
    color: rgb(43, 46, 226);
    
}

#titulo {
    color: brown;

}

.rodape {
    color: aquamarine;
    text-align: center;
    border: 1px solid;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: black;

}

.entrada-usuario {
    border: 1px solid;
    text-align: center;
    text-decoration: double;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    padding: 5px;
    
}